<html lang="en">

<head>
    <style> <%- css.style %> </style> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Borrow a Book</title>
</head>
<body>
    <h1>Create an application in order to borrow a book</h1>
    <form action="/insert/borrows" method="POST"> 
    Choose the book from the list of available books: <br>
    <select name="BookCopy">
            <% for (var i=0; i< row1.length ; i++){%>
            <% if (row1[i].notavailable == null){%>
            <option value="<%= row1[i].ISBN + ' ' + row1[i].copynumber%>"><%='ISBN: ' + row1[i].ISBN + ' ,Number of copy: ' + row1[i].copynumber %></option>
            <%}%>
            <%}%>
    </select> <br>
    Choose the member:<br>
    <select name="member">
            <% for (var i=0; i< row2.length ; i++){%>
            <option value="<%= row2[i].memberID + ' ' + row2[i].MFirst + ' ' + row2[i].MLast%>"><%= row2[i].memberID + ' ' + row2[i].MFirst + ' ' + row2[i].MLast%></option>
            <%}%>
    </select><br>
    <input type="submit" name="Submit" class = "submit"> 
    
    </form>
</body>
</html>